{% extends "website/base.html" %}

{% block content %}
<section class="login text-center bg-light">
  <div class="container">
    <h2 class="mb-5">Admin Interface</h2>
    <div class="row">
      <div class="col-xl-6 mx-auto">
        <div class="login-item mx-auto mb-5 mb-lg-0">
          <div class=" mx-xl-5">
            <div class="card-body">

                <!--Header-->
                <div class="form-header deep-blue-gradient rounded">
                    <h3><i class="fa fa-lock"></i></h3>
                </div>

                <!-- Material input email -->
                <div class="md-form font-weight-light">
                    {% comment %} <i class="fa fa-envelope prefix grey-text"></i> {% endcomment %}
                    <input type="email" id="materialFormEmailEx" class="form-control">
                    <label for="materialFormEmailEx">Your email</label>
                </div>

                <!-- Material input password -->
                <div class="md-form font-weight-light">
                    {% comment %} <i class="fa fa-lock prefix grey-text"></i> {% endcomment %}
                    <input type="password" id="materialFormPasswordEx" class="form-control">
                    <label for="materialFormPasswordEx">Your password</label>
                </div>

                <div class="text-center mt-4">
                    <button type="button" class="btn btn-outline-unique waves-effect">Login</button>
                </div>

            </div>
            <!--Footer-->
            <div class="modal-footer">
                <div class="options font-weight-light">
                    <p>Not a member? <a href="#">Sign Up</a></p>
                    <p>Forgot <a href="#">Password?</a></p>
                </div>
            </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</section>


 
{% endblock content %}